<div class="searching-box">
  <span>Quick Search</span>
  <select name="gender" id="1">
    <option value="0">Gender</option>
    <option value="1">Male</option>
    <option value="2">Female</option>
  </select>
  <select name="age" id="2">
    <option value="0">Age</option>
    <option value="3">18-30</option>
    <option value="1">30-40</option>
    <option value="2">40-50</option>
  </select>
  <select name="district" id="3">
    <option value="0">District</option>
    <option value="1">NSW</option>
    <option value="2">VIC</option>
    <option value="3">ACT</option>
  </select>
  <button type="submit">Search</button>
</div>
